:root {
  --tnem-color: #ff0077;
  --main-color: #fafafa;
  --text-color: #2d2d2d;
}
html {
  background-color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
  height: calc(100vh - 50px);
}
/* display */
.display {
  height: 40%;
  width: 100%;
  padding: 1em;
}
#screen {
  font-size: 3rem;
  font-weight: 900;
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: end;
}
#history {
  font-size: 1.4rem;
  height: 50%;
  display: flex;
  justify-content: end;
  opacity: 0.5;
  line-height: 30px;
  text-align: end;
}

/* btns */
.btn-container {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5em;
}
.btns-style {
  width: 4.5em;
  height: 4.5em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  box-shadow: #88a5bf42 6px 2px 16px 0px, #ffffff29 -6px -2px 16px 0px;
  transition: box-shadow 0.2s ease, border 0.2s ease;
  border: 1px solid transparent;
}
.btns-style:active {
  box-shadow: none;
  border: 1px solid #88a5bf42;
}

.them-btns {
  color: var(--tnem-color);
}
#equals {
  height: 100%;
  background-color: var(--tnem-color);
  color: #ffff;
  grid-row: 4 / span 2;
  grid-column-start: 4;
  grid-column-end: 4;
  box-shadow: #00000042 -3px -3px 6px 1px inset;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
#equals:active {
  box-shadow: none;
  transform: scale(0.97);
}
.zero {
  width: 100%;
  grid-column: 1 / span 2;
}
